{% extends 'layout.html' %}
{% load render_partial %}
{% block title %}
    تغییر کلمه عبور
{% endblock %}

{% block content %}
<div class="col-md-3 pull-right">
            {% render_partial 'User_panel.views.user_panel_components' %}
    </div>
         <div class="form-containe">

        <h2>تغییر کلمه عبور</h2>
        <form action="{% url 'Change-password' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><a href="{% url 'Forgot-Password' %}">فراموشی کلمه عبور</a></p>
            <button type="submit" class="btn btn-warning">ثبت</button>
        </form>
    </div>
{% endblock %}