<footer id="footer"><!--Footer-->
		<div class="footer-Before">
			<div class="container">
				<div class="block-news">
					<div class="row">
						<h3><span style="color: #FE980F">چوب لباسی</span> پلتفرم فروش واجاره لباس که فعالیت خود را از سال 1403 آغاز کرده است</h3>
						
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="address">
							<img src="/static/images/home/map.png" alt="" />
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="/static/images/home/map.png" alt="" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="companyinfo">
							<h2><span>{{ footer_settings.name }}</span></h2>
							<h4>درباره ما :</h4>
                            <p>{{ footer_settings.about_us }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer-widget">
			<div class="container">
				<div class="row  ">
					{% for footer_link in footer_link_box %}
                        <div class="col-sm-3 ">
						<div class="single-widget ">
							<h2>{{ footer_link.title }}</h2>
							<ul class="nav nav-pills nav-stacked ">
                                {% for link in footer_link.footerlink_set.all %}
                                    {% if link.links  %}
                                        <li><a href="{{ link.links }}">{{ link.title }}</a></li>
                                    {% elif link.links is None and link.value is None %}
                                        <li>{{ link.title }}</li>
                                    {% else %}
                                        <li><a href="{{ link.value }}">{{ link.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
							</ul>
						</div>
					</div>
					{% endfor %}
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom" style="direction: ltr !important;">
			<div class="container">
				<div class="row">
					<p class="pull-right">
						{{ footer_settings.copyright }}
					</p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->